<!--    PartyManager:
    WebApp for ordering beverages and other stuff written in flask
    Copyright (C) 2020 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta http-equiv="refresh" content="{{time}}" >    
        <title>PM Dashboard</title>    
    </head>
    <body style="background-color: black; colour:white;">
        <h1 class=whiteText>PARTYMANAGER Live Stats</h1>
       
        <center>
        <table style="width:100%">
            <tr>
              <th><h3 class=whiteText>📤 Total Orders: {{total_orders}}</h3></th>
              <th><h3 class=whiteText>💖 Favourite Item: {{favourite_item}}</h3></th>
            </tr>
            <tr>
              <td><h3 class=whiteText>👥 Active Users: {{active_users}}</h3></td>
              <td><h3 class=whiteText>🧃 Aviable Items: {{available_items}}</h3></td>
            </tr>
            <tr>
                <td><h3 class=whiteText>🚪 Visits: {{visits}}</h3></td>
                <td><h3 class=whiteText>❌ Errors: {{errors}}</h3></td>
            </tr>
            <tr>
                <td><h3 class=whiteText>🕒 Update Rate: {{time}}s</h3></td>
                <td><h3 class=whiteText>⏲️ Uptime: {{uptime}} minuti</h3></td>
            </tr>
          </table>
        </center> 
</html>
{% endblock %}