{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block header %}Home{% endblock %}

{% block body %}
    <div class="formBox">
    <form action='/makeorder' method='post'>
        <center></center>
            <label for="nameInput"><p>Your code</p></label>
            {% if code %}
            <input class="equalForm" type="text" id="codeInput" name="code" value={{code}}>
            {% else %}    
            <input class="equalForm" type="text" id="codeInput" name="code">
            {% endif %}
            <label for="itemInput"><p>Item</p></label>
        </center>
            <center>
            <select class="equalForm" id="itemInput" name='item'>
                <option disabled selected>Your Item</option>
                {% for item in items %}
                {% if item[1] == 0 %}
                <option value='{{item[0]}}'>{{item[0]}}</option>
                {% else %}
                <option disabled value='{{item[0]}}'>{{item[0]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </center>
        <br>
        <br>
        <center>
        <input class="btn btn-outline-secondary" type='submit' value='Make Order'>      
        </center>
    </form>
</div>
{% endblock %}
