{% extends "layout.html" %}
{% block body %}
    <center>
    <h1>Home</h1>
    <form action='/makeorder' method='post'>
        <div class="form-group">
            <label for="nameInput"><p>Your code</p></label>
            {% if code %}
            <input type="text" id="codeInput" name="code" value={{code}}>
            {% else %}    
            <input type="text" id="codeInput" name="code">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="itemInput"><p>Item</p></label>
            <select class="form-control" id="itemInput" name='item'>
                <option disabled selected>Your Item</option>
                {% for item in items %}
                {% if item[1] == 0 %}
                <option value='{{item[0]}}'>{{item[0]}}</option>
                {% else %}
                <option disabled value='{{item[0]}}'>{{item[0]}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
        <br>
        <input class="btn btn-outline-secondary" type='submit' value='Make Order'>      
    </form>
{% endblock %}
