<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=">
        <title>{% block title %}{% endblock %} - PartyName</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="headerBox" style="background-image: url('static/img/header.jpg');">
                <h1 class="siteTitle"><a class="siteTitle" href="/">PartyName</a></h1>
                <h2 class="siteTitle">{% block header %}{% endblock %}</h2>
            </div>
        </header>
            {% block body %}
            {% endblock %}
        <footer>
            <div class=footer>
            {% if code %}
            <p class="footer" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;"><a href="/?code={{code}}">Home</a> - <a target="_blank" href="https://github.com/seepiol/partymanager">Source Code</a> - <a href="/policy?code={{code}}">Privacy Policy</a> - <a href="/license?code={{code}}">License</a></p>
            {% else %}
            <p class="footer" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;"><a href="/">Home</a> - <a target="_blank" href="https://github.com/seepiol/partymanager">Source Code</a> - <a href="/policy">Privacy Policy</a> - <a href="/license">License</a></p>
            {% endif %}
            {% block footer %}
            {% endblock %}
        </div>
        </footer>
    </body>
</html>