<!--    PartyManager:
    WebApp for ordering beverages and other stuff written in flask
    Copyright (C) 2020 

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=">
        <title>{% block title %}{% endblock %} - PartyName</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="headerBox" style="background-image: url('static/img/header.jpg');">
                {% if code %}
                    <h1 class="siteTitle"><a class="siteTitle" href="/?code={{code}}">PartyName</a></h1>
                {% else %}
                    <h1 class="siteTitle"><a class="siteTitle" href="/">PartyName</a></h1>
                {% endif %}
                <h2 class="siteTitle">{% block header %}{% endblock %}</h2>
            </div>
        </header>
            {% block body %}
            {% endblock %}
            <br><br>
        <footer>
            <div class=footer>
            {% if code %}
            <p class="footer" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;"><a href="/?code={{code}}">Home</a> - <a target="_blank" href="https://gitlab.com/seepiol/partymanager">Source Code</a> - <a href="/policy?code={{code}}">Privacy Policy</a> - <a href="/license?code={{code}}">License</a></p>
            {% else %}
            <p class="footer" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;"><a href="/">Home</a> - <a target="_blank" href="https://gitlab.com/seepiol/partymanager">Source Code</a> - <a href="/policy">Privacy Policy</a> - <a href="/license">License</a></p>
            {% endif %}
            {% block footer %}
            {% endblock %}
        </div>
        </footer>
    </body>
</html>