<!DOCTYPE html>
<html>
<head>
  <Title>Gestione Ordini Festa 2k19</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/css/style.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body class="deep-purple darken-3">
  <div class="contenitore">
    <h1 align:"center"><font color="white"><b>Ordini Festa 2K19</b></font></h1>
    <div class="card-panel">
      <h2 align:"center"><b>Il Tuo Ordine:</b></h2>
      <form method="post" action="continue.php">
        <div class="input-field">
          <select name="utente" class="browser-default" required="" autocomplete="on">
            <option value="" disabled selected>Nome</option>
			      <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
			      <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
			      <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
			      <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
			      <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
			      <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
		      	<option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
            <option value=" "> </option>
          </select>
        </div>
        <h1></h1>
        <div class="input-field">
          <select name="articolo" class="browser-default" required>
            <option value="" disabled selected>Articolo</option>
            <option value=""> </option>
            <option value=""> </option>
            <option value=""> </option>
	          <option value=""> </option>
	          <option value=""> </option>
            <option value=""> </option>
	          <option value=""> </option>
	      		<option value=""> </option>
            <option value=""> </option>
            <option value=""> </option>
	          <option value=""> </option>
	          <option value=""> </option>
            <option value=""> </option>
	          <option value=""> </option>
			      <option value=""> </option>
            <option value=""> </option>
            <option value=""> </option>
	          <option value=""> </option>
	          <option value=""> </option>
            <option value=""> </option>
	          <option value=""> </option>
          </select>
        </div>
        <h3></h3>        
        <button class="btn waves-effect waves-light deep-purple darken-3" align:"center" id="send" value="send" name="send" type="submit">ORDINA
          <i class="material-icons right">send</i>
        </button>
		<button class="btn waves-effect waves-light deep-purple darken-3" align:"right" onclick="window.location.href='http://paypal.me/jacopomoioli';">DONA
          <i class="material-icons right">attach_money</i>
        </button>
        
      </form>
	  <br>
	  <br>
	  <h6><b>Powered by MoioCorp<b><br></h6>
	  <p class="h7">Eseguendo il primo ordine, accetti il salvataggio parziale o totale dei dati immessi.<br>Per richiederne la visualizzazione o l'eliminazione, contattaci alla mail: moiolijacopo4@gmail.com</p>
    </div>
  </div>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
